<div>
  <h3 class="text-center font-bold lg:text-2xl text-xl my-6">Add a Todo</h3>
  <form (ngSubmit) = "onSubmit()">
    <label
      for="UserEmail"
      class="block overflow-hidden rounded-md border border-gray-200 px-3 py-2 shadow-sm focus-within:border-blue-600 focus-within:ring-1 focus-within:ring-blue-600 lg:w-1/2 mx-auto"
    >
      <span class="text-xs font-medium text-gray-700"> Title </span>
      <input
        type="text"
        id="title"
        name="title"
        class="mt-1 w-full border-none p-0 focus:border-transparent focus:outline-none focus:ring-0 sm:text-sm"
        [(ngModel)]="title"
      />
    </label>

    <label
      for="UserEmail"
      class="block overflow-hidden rounded-md border border-gray-200 px-3 py-2 shadow-sm focus-within:border-blue-600 focus-within:ring-1 focus-within:ring-blue-600 lg:w-1/2 mx-auto mt-6"
    >
      <span class="text-xs font-medium text-gray-700"> Description </span>

      <input
        type="text"
        id="desc"
        name="desc"
        class="mt-1 w-full border-none p-0 focus:border-transparent focus:outline-none focus:ring-0 sm:text-sm"
        [(ngModel)]="desc"
      />
    </label>

    <div class="mt-4 flex items-center justify-center">
      <button
        class="block rounded-lg bg-indigo-600 px-5 py-3 text-sm font-medium text-white transition hover:bg-indigo-700 focus:outline-none focus:ring"
        type="submit"
      >
        Add Todo
      </button>
    </div>
  </form>
</div>
